name: Generate Datas

permissions:
  contents: write

on:
  schedule: # execute every 12 hours
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest

    steps:
      # Snake Animation
      - uses: Platane/snk@v3
        with:
          github_user_name: Hugo-96
          outputs: |
           dist/github-contribution-grid-snake.svg?color_dots=#161b22,#234f1e,#466d1d,#3cbo43
           dist/github-contribution-grid-snake.gif?color_dots=#161b22,#234f1e,#466d1d,#3cbo43

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
